{% extends 'base.html.twig' %}

{% block title %}
    Tous nos biens
{% endblock %}

{% block body %}
<div class="container mt-4">
    
        <h1>Voir tous nos biens</h1>
        <p> Occaecat do cupidatat amet cillum. Do officia nulla laborum minim. Quis anim veniam laboris veniam anim elit
            adipisicing quis dolore nulla et esse et. Adipisicing aliqua esse mollit adipisicing dolor voluptate. Ullamco
            aliqua ex labore exercitation ea mollit irure voluptate amet excepteur. Sint deserunt velit mollit anim nisi ex
            irure commodo tempor. Enim do incididunt pariatur duis sunt occaecat aliquip aliqua magna do. 
        </p>
    
</div>


{% endblock %}